In [2]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [11]:
#load the dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
#preprocess the data
#drop irrelavant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)  #axis=1 means we are dropping column wise
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [13]:
#encode categorical variable
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [14]:
#oneHot encode 'Geography'--> classified more than 2 class so applied one hotencoder
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [15]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [16]:
onehot_encoder_geo.get_feature_names_out(['Geography'])  # we will get the output of Geography into numpy

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [17]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [18]:
#combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)  ##axis=1 means column wise
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [19]:
#save the encoders and scaler in vs code as file
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [20]:
#divide the dataset into independent and dependent features
X=data.drop('Exited',axis=1)
y=data['Exited']

#split the data into training an dtesting sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42) # Data is split the same way every time -->Results stay same

##scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [21]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [22]:
#save scalar data as file in vs code   ##for preprocessing data we dont use model.save for saving
with open('scaler.pkl','wb') as file:  #wb-write binary
    pickle.dump(scaler,file)

In [23]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

#ANN CLASSIFICATION

In [24]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [25]:
(X_train.shape[1],)  #(12,)means -->it is single dimension as it has 12 input

(12,)

In [26]:
#build our ANN Model
model=Sequential([  #hidden layer 1 is connected with input layer
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## we are using 64 neurons apply relu as activation function and input size initailly we are giviing as x_train.shape (jitne v train data honge wo ho jyega input ka shape)
    Dense(32,activation='relu'), #hidden layer2
    Dense(1,activation='sigmoid') ##output layer
]
)

WARNING:tensorflow:From c:\Users\abcan\anaconda3\envs\ann\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [27]:
model.summary()   ##it will give total number of parameter(input*hiddenlayer+bias) in each layer  and at last total parameters it will give

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [7]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)   ##optimizers is for reduce the loss
loss=tensorflow.keras.losses.BinaryCrossentropy()  #loss function-how much error exists
loss

WARNING:tensorflow:From c:\Users\abcan\anaconda3\envs\ann\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [28]:
#compile the model(we are using adam optimizer here)
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

WARNING:tensorflow:From c:\Users\abcan\anaconda3\envs\ann\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [29]:
##setup the tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")  ## Location where training logs are stored
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [30]:
##setup Early stopping
#  -->we use early stopping becasue let suppose our loss value is decreasing but after some time its stop decreasing so then we no need to run our model(early stopping will check if loss is not decreasing then we can stop the training there itself ) 
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True) ##patience will check the loss value still not decreasing upto 5 epoch then stop the training

In [31]:
##train the  model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\abcan\anaconda3\envs\ann\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\abcan\anaconda3\envs\ann\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 7ms/step - loss: 0.4437 - accuracy: 0.8079 - val_loss: 0.3881 - val_accuracy: 0.8330
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3804 - accuracy: 0.8441 - val_loss: 0.3606 - val_accuracy: 0.8485
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3527 - accuracy: 0.8544 - val_loss: 0.3450 - val_accuracy: 0.8590
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3447 - accuracy: 0.8577 - val_loss: 0.3469 - val_accuracy: 0.8570
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3402 - accuracy: 0.8594 - val_loss: 0.3452 - val_accuracy: 0.8600
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3376 - accuracy: 0.8610 - val_loss: 0.3432 - val_accuracy: 0.8635
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3342 - accuracy: 0.8608 - val_loss: 0.3445 - val_accuracy: 0.8585
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3312 - accuracy: 0.8651 - val_loss: 0.3423 - val_accuracy: 0.8650
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3282 - accuracy: 0.8637 - val_loss: 0.3445 - val_accuracy: 0.8565
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3265 - accuracy: 0.8660 - val_loss: 0.3400 - val_accuracy: 0.8600
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3247 - accuracy: 0.8674 - val_loss: 0.3404 - val_accuracy: 0.8620
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3217 - accuracy: 0.8673 - val_loss: 0.3396 - val_accuracy: 0.8635
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3208 - accuracy: 0.8680 - val_loss: 0.3393 - val_accuracy: 0.8665
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3191 - accuracy: 0.8687 - val_loss: 0.3390 - val_accuracy: 0.8600
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3174 - accuracy: 0.8695 - val_loss: 0.3410 - val_accuracy: 0.8615
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3155 - accuracy: 0.8699 - val_loss: 0.3414 - val_accuracy: 0.8625
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3143 - accuracy: 0.8705 - val_loss: 0.3476 - val_accuracy: 0.8610
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3136 - accuracy: 0.8720 - val_loss: 0.3410 - val_accuracy: 0.8610
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3121 - accuracy: 0.8727 - val_loss: 0.3454 - val_accuracy: 0.8645

In [33]:
model.save('model.h5')  ##we will use model.save for neural network save data

In [34]:
#load TensorBoard extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [1]:
%reload_ext tensorboard

In [4]:
%tensorboard --logdir logs --port 6007

In [3]:
%tensorboard --logdir logs/fit20260205-163849

Reusing TensorBoard on port 6006 (pid 20476), started 5:00:18 ago. (Use '!kill 20476' to kill it.)